<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Menu 1</a></li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>

<div class="container rounded border text-center">
  <div class="header">
    <ul class="nav nav-pills nav-fill card-header-pills">
      <li class="nav-item ">
        <a class="nav-link active" id="forma1-pill" data-toggle="pill" href="#forma1" aria-controls="jauns-pasut" aria-selected="true">Jauns pasūtījums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pending-pill" data-toggle="pill" href="#pending" aria-controls="pending"
           aria-selected="false">Forma 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="apstiprinatie-pill" data-toggle="pill" href="#apstiprinatie"
           aria-controls="apstiprinatie" aria-selected="false">Forma 3</a>
      </li>

    </ul>
  </div>
</div>

<div class="tab-content">

  <div class="tab-pane active" id="forma1" aria-labelledby="forma1-pill">
    <div class="container rounded border bg-light p-3">
      <h5 class="h5"> Forma 1 </h5>



    </div>
  </div>

  <div class="tab-pane" id="forma2" aria-labelledby="forma2-pill">
    <div class="container rounded border bg-light p-3">

      <h5 class="h5"> Forma 2 </h5>


    </div>
  </div>

  <div class="tab-pane" id="forma3" aria-labelledby="forma3-pill">
    <div class="container rounded border bg-light p-3">

      <h5 class="h5">Forma 3</h5>


    </div>

</div>
