<div class="container rounded border text-center">
  <div class="header">
    <ul class="nav nav-pills nav-fill card-header-pills">
      <li class="nav-item ">
        <a class="nav-link active" id="forma1-pill" data-toggle="pill" href="#forma1" aria-controls="forma1" aria-selected="true">Form 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="forma2-pill" data-toggle="pill" href="#forma2" aria-controls="forma2"
           aria-selected="false">Form 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="forma3-pill" data-toggle="pill" href="#forma3"
           aria-controls="forma3" aria-selected="false">Form 3</a>
      </li>

    </ul>
  </div>
</div>

<div class="tab-content">

  <div class="tab-pane active" id="forma1" aria-labelledby="forma1-pill">
    <div class="container rounded border bg-lightlightblue p-3">

      <app-form1></app-form1>

    </div>
  </div>

  <div class="tab-pane" id="forma2" aria-labelledby="forma2-pill">
    <div class="container rounded border bg-lightlightblue p-3">

      <h5 class="h5"> Forma 2 </h5>


    </div>
  </div>

  <div class="tab-pane" id="forma3" aria-labelledby="forma3-pill">
    <div class="container rounded border bg-lightlightblue p-3">

      <h5 class="h5">Forma 3</h5>


    </div>

</div>
